body
{
    font-family: "Calibri", "Arial", "Verdana";
}

table
{
    width: 100%;
    border-collapse: collapse;
    border: 0px;
    padding: 4px;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
}

caption
{
    background: #aaaeb1 !important;
    color: white;
    font-weight: bold;
    border: 0px;
    padding: 2px;
}

th 
{
    text-align: left;
    border-bottom: 1px solid grey !important;
}

.tableDates
{
	width: auto !important;
}

	.tableDates td 
	{
		padding-left: 8px;
	}

.tableMain td
{
    vertical-align: top;
    font-weight: bold;
}

.tableSub td
{
    border-bottom: 1px solid grey !important;
}

.tableRestorations td
{
    padding-bottom: 5px;
}

.tableRestorationsSub
{
    border: 1px solid grey;
    margin-right: 25px;
}

.tableRestorationsSub td
{
    padding: 3px;
    border-bottom: 1px solid grey;
}

.tableTypeSub td 
{
    border-bottom: 0px;
}

.tableCaseDetails
{
    border-collapse: collapse;
    border: 1px solid grey;
    font-weight: bold;
}

.tableCaseDetails td {
    border-bottom: 1px solid grey;
    padding: 3px;
}

.tableTech
{
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 0px;
    font-weight: bold;
}

.tableTech td, .tableTech th {
    border-bottom: 1px solid grey;
    padding: 3px;
    font-size: 80% !important;
}

td.underline
{
    font-weight: normal;
}

.textblock
{
    max-width: 300px;
    word-wrap: break-word;
    font-weight: normal;
}

.restorationSub td
{
    border: 0px;
    padding: 0px;
}

.imageIndications 
{
    max-height: 500px;
    border: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.imageClinicalImage
{
    border: 0px;
    max-width: 350px;
}

@media print {
table 
{
    font-size: 11pt;
}

caption 
{
    font-size: 12pt; 
}
	
div.page 
{
	page-break-before: always;
}
}
